@charset 'utf-8';

@font-face {
    font-family: "MapoFlowerIsland";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SuseongBatang";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongBatang.woff2")
        format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font: 1.6rem "MapoFlowerIsland", sans-serif;
}

:root {
    --main-color: #c4004a;
    --text-color: #000;

    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: var(--main-color);
}

figure {
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hidden {
    opacity: 0;
}

.text {
    font-size: 4rem;
    font-family: "SuseongBatang";

    text-align: center;
}

.inner {
    width: 143.5rem;
    height: 100%;
    margin: 0 auto;
}

.logo a {
    display: block;
    width: 13rem;
    height: 5.6rem;
}

#header nav {
    display: flex;
    align-items: center;
    height: 10rem;

    /* background: #ff0; */
}

#header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.4s;
    background: #fff;
    z-index: 5;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    visibility: hidden;
    pointer-events: none;
}

#header.active::after {
    height: 260px;
    opacity: 1;

    visibility: visible;
}

#header .inner {
    /* border: 1px solid #000; */
    padding: 0 6rem;
    position: relative;
    z-index: 11;
}

.gnb {
    display: flex;
    margin-left: 23.1rem;
}

.gnb > li {
    position: relative;
}

.gnb > li > a {
    display: block;
    font-size: 1.8rem;
    font-family: "SuseongBatang";
    padding: 1rem 3.1rem;
}

.submenu {
    /* border: 1px solid #000; */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 0.4s;

    z-index: 20;
}

#header.active .submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.submenu li a {
    display: block;
    padding: 6px;
    text-align: center;
    font-size: 1.6rem;

    color: #999;
}

.submenu li a:hover {
    text-decoration: underline;
    color: var(--main-color);
}

/* visual */
.swiper-slide figure {
    height: 98.3rem;
}

.swiper-pagination-bullet {
    width: 80px;
    height: 8px;
    border-radius: 2px;
    background: #f5f5f5;
}

.swiper-pagination-bullet:nth-child(2) {
    width: 30px;
    height: 8px;
}

.swiper-pagination-bullet-active {
    width: 80px;
    height: 8px;
    border-radius: 10px;
    background: #f5f5f5;
}

/* menu */
.menu {
    margin-top: 30rem;
}

.menu .inner {
    display: flex;
    gap: 10rem; /* 왼쪽 메뉴와 슬라이더 사이 간격 */
    max-width: 144rem;
    margin: 0 auto;
    align-items: flex-start;

    position: relative;
}

.menu_text_box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0 0 20rem; /* 왼쪽 메뉴 너비 고정 */

    margin-top: 28rem;
    text-align: center;
}

.menu_text {
    font-size: 2rem;
}

.menu_text:hover {
    text-decoration: underline;
    color: var(--main-color);
}

/* 슬라이더 영역 */
.menu-slider {
    flex: 1; /* 남은 공간 모두 차지 */

    margin-top: 11.4rem;
}

.menu-slider .swiper-slide {
    border-radius: 5px;
    overflow: hidden;
}

.menu-slider .swiper-slide figure {
    /* width: 34.5rem; */
    height: 40rem;
    /* overflow: hidden; */
}

.menu-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper-slide p {
    margin-top: 3rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
    position: static; /* absolute 제거! */
}

.menu-slider .swiper-slide figure {
    width: 34.5rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 5px;
}

/* 활성화된 슬라이드에 border 적용 */
.menu-slider .swiper-slide-active figure {
    border: 10px solid var(--main-color);
    transform: scale(1.01); /* 선택된 슬라이드를 살짝 확대 */
    transition: all 0.3s ease; /* 부드러운 애니메이션 효과 */
}

/* 슬라이더 내 버튼 */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%; /* 슬라이드 영역 상단 중앙 */
    transform: translateY(-50%); /* 정확히 세로로 중앙 배치 */
    z-index: 10; /* 버튼이 이미지 위에 오도록 */
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    border-radius: 50%;
}

/* 왼쪽 버튼 */
.swiper-button-prev {
    left: 0;

    background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 */
    width: 70px;
    height: 70px;
}

/* 오른쪽 버튼 */
.swiper-button-next {
    right: 0;

    background-color: rgba(0, 0, 0, 0.5); /* 버튼 배경색 */
    width: 70px;
    height: 70px;
}

/* vision */
.vision {
    margin-top: 37rem;
}

.vision-con {
    margin-top: 13rem;
    display: flex;
}

.vision-con dl {
    margin-left: 22.7rem;
    margin-top: 13rem;
}

.vision-con dt {
    font-size: 2.5rem;
    font-family: "SuseongBatang";
    width: 27.5rem;
    margin-left: 15rem;
}

.vision-con dd {
    width: 58.9rem;
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 7rem;
}

.vision-con figure {
    width: 46.2rem;
    height: 49.7rem;
}

.vision-con figure img {
    border-radius: 10px;
}

.vision-con.reverse {
    flex-direction: row-reverse;
}

.vision-con.reverse dl {
    margin-right: 22.7rem; /* 기존 margin-left와 반대로 */
    margin-top: 13rem;
}

.vision-con.reverse dt {
    margin-left: -33rem;
}

.vision-con.reverse dd {
    margin-left: -53rem;
}

/* notice */
.notice {
    margin-top: 34rem;
}

.notice-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    gap: 2rem;
}

.notice-con li {
    width: 34.5rem;
    height: 48.5rem;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    overflow: hidden;
}

.notice-con figure {
    width: 34.3rem;
    height: 34.3rem;
}

.notice figure img {
    border-radius: 10px 10px 0 0;
}

.notice-con dl {
    width: 34.5rem;
    height: 14rem;
    padding: 4rem 2.2rem;
}

.notice-con dl dt {
    font-size: 2rem;
}

.notice-con dl dd {
    margin-top: 3.2rem;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.6);
}

/* 첫 번째 notice-con li dl dd 숨기기 */
.notice-con li:first-child dd {
    display: none;
}

.btn-more {
    display: block;
    width: 22rem;
    height: 6.5rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 5px;

    font-size: 1.8rem;
    text-align: center;
    padding: 2rem;

    margin: 0 auto;
    margin-top: 10.6rem;
}

.btn-more:hover {
    color: #ffffffda;
}

/* info */
.info-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 25.2rem;
}

.info-con li {
    width: 53rem;
    height: 30rem;

    position: relative;

    cursor: pointer;
}

.info-con li figure img {
    border-radius: 5px;
}

.info-con li a p {
    font-size: 3rem;
    color: #f5f5f5;

    position: absolute;
    top: 40%;
    left: 38%;

    font-family: "SuseongBatang";
}

.dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 어두운 레이어 */
    opacity: 0;
    transition: 0.4s;
}

.info-con li:hover .dim {
    opacity: 1;
}

/* footer */
#footer {
    margin-top: 22.2rem;
}

#footer .foot-wrap {
    /* height: 50em; */
    min-height: 40rem;
    background: #322f2f;
}

#footer .foot-con1 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.4rem;
    margin-left: 42rem;

    color: #c0c0c0;
}

#footer .foot-con1 a {
    margin-top: 10.5rem;
}

#footer .foot-con1 a:hover {
    color: #c0c0c0;
}

.foot-con2 {
    display: flex;
    align-items: center;
    gap: 33px;

    margin-top: 3rem;
    margin-left: 42rem;

    font-size: 1.4rem;

    color: #c0c0c0;
}

.foot-con3 {
    display: flex;
    align-items: center;
    gap: 47px;

    margin-top: 3rem;
    margin-left: 42rem;

    font-size: 1.4rem;

    color: #c0c0c0;
}

.foot-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

.foot-img1 figure {
    width: 6rem;
    height: 6rem;
}

.foot-img2 figure {
    width: 17.4rem;
    height: 4.6rem;
}

.foot-bottom {
    display: flex;
    align-items: center;
    margin-left: 42rem;
    margin-top: 3rem;

    color: #c0c0c0;
}

.copyright {
    font-size: 1.4rem;
}

.foot-link {
    display: flex;
    gap: 5px;
    margin-left: 40rem;
}

.foot-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

/* main visual 따라다니는 커서 */
.cursor {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -30px;
    margin-left: -30px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--main-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* font-size: 1.4rem; */
    z-index: 10;
    pointer-events: none;
    user-select: none;
}

.btn-top {
    position: fixed;
    right: 4rem;
    bottom: 4rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--main-color);
    color: #fff;
    font-size: 1.4rem;
    z-index: 10;

    cursor: pointer;
}
